<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.b">
<!--    id相当于查询的方法名 public List selectAllBooks(参数){方法体} -->
<!--    resultType相当于返回类型，放回的是Book的集合(list)，
但只需要写集合中的内容是什么.即：Book,需要指定路径，即com.rao.pojo.Book-->
    <select id="selectAllBooks" resultType="com.rao.pojo.Book">
        select * from t_book
    </select>
</mapper>