<?xml version="1.0" encoding="UTF-8" ?>   <!--文档头-->
<!--添加约束，标签按照约束来写(configuration作为根标签)，首次添加报错需要alt + enter 进行一个下载-->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.rao.pojo.Book" alias="b"></typeAlias>
<!--        通过`<package>`标签指定包下全部类的别名。指定后所有类的别名就是类名-->
        <package name="com.rao.pojo"/>
    </typeAliases>
    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
<!--                前面的name需要按照规定好的来写，将value替换为自己需要的就可以-->
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
<!--                注意：下面的 & 需要替换为 &amp; -->
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/msb?useSSL=false&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=Asia/Shanghai&amp;allowPublicKeyRetrieval=true"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>

<!--        可以配置多个数据库，需要使用哪个数据库就在“<environments default="mysql">”中指定-->
<!--        <environment id="oracle">-->
<!--            <transactionManager type=""></transactionManager>-->
<!--            <dataSource type=""></dataSource>-->
<!--        </environment>-->

    </environments>
    <mappers>
        <mapper resource="mapper/BookMapper.xml"/>
    </mappers>

</configuration>